<div class="container">
    
    <div class="row">
            
        <div class="col-md-6 offset-3" id="disp">
            <h1>{{emp.name}}</h1>
        <legend>Personal Info</legend>
          <div>Date of Birth: {{emp.dob}}</div>
          <div>Phone: {{emp.phone}}</div>
          <div>Address: {{emp.addr}}</div>
          <hr>
        
                <legend>Educational Info</legend>
                  <div>Degree: {{edu.degree}}</div>
                  <div>Marks: {{edu.marks}}</div>
                  <div>Stream: {{edu.stream}}</div>
                  <div>College: {{edu.college}}</div>
                </div>
    </div>
</div>